<!doctype>
<html>
    <head>
        <script defer src="../static/majn.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="icon" href="../static/image/logo.jpg" sizes="16x16" type="image/png">
        <meta http-equiv="Content-Language" content="pl" />
        <meta name="Pawel Osinski" content="Cygnus" />
        <title>Praca inżynierska Paweł Osiński</title>
    </head>
    <body>
        <form id="form">
            Car: <input type="file" name="car" accept="image/*">
            <input type="submit">
        </form>
        <div id="steps">
        </div>

    </body>
</html>