<!doctype>
<html>
    <head>
        <script defer src="../static/majn.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="icon" href="../static/image/logo.jpg" sizes="16x16" type="image/png">
        <meta http-equiv="Content-Language" content="pl" />
        <meta name="Pawel Osinski" content="Cygnus" />
        <title>Praca inżynierska Paweł Osiński</title>
    </head>
    <body>
        {% block title %}Upload{% endblock %}{% block main %}<div class="container">
          <div class="row">
            <div class="col"><h1>Dodaj zdjęcie z rejestracją</h1>
              <hr><form action="/" method="POST" enctype="multipart/form-data"><div class="form-group">
                  <label>Select image</label>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" name="image" id="image">
                  </div>
                </div><button onclick="showImage()" type="submit "   class="btn btn-primary">Upload</button></form></div>
          </div>
         <button onclick="httpGet()">Sprawdź co to była za rejestracja</button>
        <h1><div id="result"></div></h1>
        <div id="x"></div>
        </div>{% endblock %}
</body>
</html>